useDynLib(BeSS, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom("graphics","abline","axis","box","grid","layout","lines","mtext","par",
           "plot","plot.new","plot.window","text","title")
importFrom("stats", "deviance", "logLik", "model.matrix", "quantile")
importFrom("stats", "rbinom", "rnorm", "rpois", "rexp", "runif")
importFrom("MASS", "mvrnorm")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "persp")
importFrom("plot3D", "arrows3D", "text3D")
importFrom("Matrix", "Matrix")
importFrom("pheatmap", "pheatmap")
export(bess, gen.data, bessCpp)

S3method(plot,bess)
S3method(coef,bess)
S3method(print,bess)
S3method(summary,bess)
S3method(predict,bess)
S3method(logLik,bess)
S3method(deviance,bess)
